body{
  background-color: #8B8B8B;
  margin-top: 0px;
}

header{
  width: 1440px;
  height: 80px;
  border:1px dashed blue;
  margin: auto;
  background-color: #fff;
  margin-top: 0px !important;
 
}
main{
  width: 1440px;
  height: 500px;
  border: 1px dashed black;
  margin: auto;
  background-color: #fff;
}
footer{
  width: 1440px;
  height: 200px;
  border: 1px dashed red;
  margin: auto;
  background-color: #fff;
}